{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "useTabs": true,
                "tabWidth": 2
            }
        }
    ]
}
